<html>
<head>
  <style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  table#t01 {
    width: 100%;
    background-color: #f1f1c1;
  }
  h2 {
    margin-top: 35px;
  }
  h3, h4 {
    margin-top: 25px;
  }
  </style>
</head>
<body>
  {{ content }}
</body>
</html>